<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity android:name=".attempted_tests"></activity>
        <activity android:name=".final_review" />
        <activity android:name=".test" />
        <activity
            android:name=".past_tests"
            android:label="Past tests" />
        <activity
            android:name=".add_questions"
            android:label="Add questions" />
        <activity
            android:name=".createtest"
            android:label="Create a test" />
        <activity
            android:name=".taketest"
            android:label="Take a test" />
        <activity
            android:name=".profile"
            android:label="My profile" />
        <activity android:name=".Faculty" />
        <activity android:name=".Student" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>